@page "/about"

<h1>About</h1>

<br />

<p>This is <b><i>yet another third-party tool</i></b> for POE. This web app has no affiliation with <a href="https://www.pathofexile.com/">Path of Exile</a> or the company GGG.</p>

<p>It's written in <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>.</p>


@code {

}
