@page "/information"
@inject HttpClient Http

<h1>Information</h1>

<p>To be implemented. See <a href="https://www.reddit.com/r/pathofexile/comments/hq1s4p/changing_celestial_nebula_hideout_ground/">this</a> Reddit post for some information on editing the hideout file.</p>

@((MarkupString)markdown)


@code {
    string markdown;

    protected override async Task OnInitializedAsync()
    {
        markdown = Markdig.Markdown.ToHtml(await Http.GetStringAsync("markdown/test.md"));
    }
}