@page "/road-map"

<h1>Road Map</h1>

<br />

<h2>On the Agenda</h2>

<ul>
    <li><strike>Finish the basic calculator.</strike></li>
    <li>Add content to the Information page that explains the hideout file.</li>
    <li>Create a live URL for this website.</li>
    <li>Update the Reddit thread on the tool.</li>
    <li>Improve the calculator layout.</li>
    <li>Update the website colour scheme.</li>
    <li>Add dark mode.</li>
</ul>

<h2>Cool Features to Add</h2>

<ul>
    <li>Add image previews of the tiles.</li>
    <li>Add image preview of the generated layout.</li>
    <li>Allow the importing of current layout, and exporting of the modified layout.</li>
    <li>Add more free form advance customizations.</li>
    <li>Add documentation guide on updating this website.</li>
    <li>Aria and better disability support.</li>
    <li>Favour calculator.</li>
</ul>

<h2>Maybe...</h2>

<ul>
    <li>Hideout quick item decor deletion. Remove all instances of a decor from your hideout file.</li>
    <li>Login/profile, and data and hideout saving.</li>
    <li>Unit Tests.</li>
</ul>

