@page "/calculator"

<style>
    .banner {
        border: 2px solid brown;
    }

    .calcLayout {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-areas: "hideout language" "ground calc" ". buttons"
    }

    .hideout {
        grid-area: hideout;
        border: 2px solid red;
    }

    .language {
        grid-area: language;
        border: 2px solid blue;
    }

    .ground {
        grid-area: ground;
        border: 2px solid orange;
    }

    .calc {
        grid-area: calc;
        border: 2px solid cyan;
    }

    .buttons {
        grid-area: buttons;
        border: 2px solid green;
    }
</style>

<div class="banner">
    Banner
</div>

<div class="calcLayout">
    <div class="hideout">
        Hideout

    </div>
    <div class="language">
        Language
    </div>
    <div class="ground">
        Ground
    </div>
    <div class="calc">
        Calc
    </div>
    <div class="buttons">
        Buttons
    </div>

</div>
