@using Microsoft.AspNetCore.Components

@code
        {
    [Inject] IJSRuntime JS { get; set; }

    bool navSubMenuOpenState;

    async Task ClickMe()
    {
        Console.WriteLine("test");
        await JS.InvokeAsync<object>("alert", "Successful OnClick!");
    }
}

@if (Navbar == null)
{
    <div>Loading</div>
}
else
{
    <MatNavMenu>
        <MatNavSubMenuList>
            @foreach (var section in Navbar.Sections)
            {
                <MatNavItem AllowSelection="true" Href="@section.UniqueId"><span class="oi @section.DataIcon" aria-hidden="true"></span> &nbsp; @section.DisplayName</MatNavItem>
            }
        </MatNavSubMenuList>
    </MatNavMenu>
}