@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

@code { string main_Container; }
<Styled @bind-Classname="main_Container">
    padding:0px;
</Styled>


<Styled Classname="main_Container" MediaQuery="MediaQueries.LargerThanMobile">
    padding: 24px;
</Styled>




<div class="@main_Container">
    @Body
</div>
