@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<Styled MediaQuery="MediaQueries.LargerThanMobile">
    .container { 
        padding: 24px;
    
    }
</Styled>


<Styled>
    .container { 
        border:2px solid red;
    }
</Styled>


<div class="container">
    @Body
</div>
