@inherits LayoutComponentBase


<div style="width: 100vw; height: 100vh;">
    <MatAppBarContainer Style="width: 100%; height: 100%;">
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu"></MatIconButton>
                    <MatAppBarTitle>POE Hideout Ground</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatIconButton Icon="favorite"></MatIconButton>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent Style="width: 100%; height: 100%;">
            <div style="display:grid;grid-template-columns:20% 80%;width:100%;height:100%;">
                <div style="width:100%;overflow-y:auto">
                    <NavMenu />
                </div>

                <div style="width:100%;overflow-y:auto">
                    <MatCard>
                        @Body
                        </MatCard>
                </div>
            </div>

        </MatAppBarContent>
    </MatAppBarContainer>
</div>

