@page "/experimental"
@inject HttpClient Http
Hidden page for testing new features.


@if (groundData == null)
{
    <p>Hi</p>
}
else
{
<div style="display:grid;width:100%;grid-gap:5px;grid-template-columns:auto">
    <POEHideoutGround.Components.TileCalculator TileData=@groundData DefaultTileData=@DefaultGroundTile />
    <POEHideoutGround.Components.TileCalculator TileData=@groundData DefaultTileData=@DefaultGroundTile />
    <POEHideoutGround.Components.TileCalculator TileData=@groundData DefaultTileData=@DefaultGroundTile />
</div>
}

@code {

   static TileData DefaultGroundTile = new TileData(name: "Dirt Ground", var: "2", hash: "1798490749", image: "dirt_3_l");

   public  TileData[] groundData;

    protected override async Task OnInitializedAsync()
    {
        //TODO: This loading seems too slow. Look into why, and speed this up
        groundData = await Http.GetFromJsonAsync<TileData[]>("data/ground.json");
    }

}